.circle-container {
    position: relative;
    display: flex;
    place-items: center;
    width: 150px;
    height: 150px;   
    background-color: light;
    display: flex;
    justify-content: center;
    text-align: center;
    border-radius: 50%;
    border: 5px solid;
    margin: 50px 0px 0 240px;
  }
 .resourceItems {
      list-style-type: none;
      margin: 0;
      padding: 0;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
 
  .resourceItems > li {
      display: block;
      width: 2rem;
      height: 2rem;
      background-color: light;
      color: 'white';
      font-weight: bold;
      text-align: center;
      border-radius: 50%;
      position: absolute;
      top: 0;
      left: 0;
      transition: transform .5s cubic-bezier(.5, 0, .35, 1);
      transform: translate(-50%, -50%);
      transform-origin: center center;
      border: 1px solid;
    }
 
    .person {
      font-size: 24px;
    }