.galaxy {
  height: 100vh;
  width: 100vw;
  z-index: -99;
}
.sectora {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-decoration: none;
  color: red;
}
.sectorawrapper {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-decoration: none;
}