.sector-background {
  background-image: url('../sector-background.jpg');
  background-size: 100% 100%;
  left: 0;
  top: 0;
}
.sector-view {
  margin-top: 15vh;
  
}
.sector-star {
  width: 10px;
  height:10px;
  /* make sure the hitbox of the star doesn't grow to the other side of the page */
}
.sector-ownership-menu {
  background-color: black;
  border: 1px solid #d17a00;
  border-radius: 5%;
  width: 30vw;
  text-align: center;
  z-index: 90;
  position: absolute;
  color: #3acaec;
}