.playerSystemArray-view-wrapper {
  text-align: center;
  display:flex;
  justify-content: center;
  margin: 2%;
  padding-bottom: 25vh;
}
.planet-square {
  width: auto;
  height: fit-content;
  text-align: center;
}
.planet-wrapper {
  width: 20em;
  height: 15em;
  margin: 1rem;
}
