/* future plans
.star:hover {
  transform: scale(1.05);
  transition-duration: 1.43s;
  transform-origin: center;
  position:  absolute;
}
*/ 
.star { /* stars base size on the sector pages */
  width: 1em;
  height: 1em;
}
.Yellow-Dwarf {
  box-shadow: 1px 1px 45px gold;
  box-shadow: 1px 1px 35px goldenrod;
  border-radius: 50%;
  animation: translateBackground 120s infinite linear;
  background: url('./starTextures/yellow-star.png') repeat-x;
  background-size: 200% 100%;
}
.Blue-Giant {
  transform: translate(-50%, -50%);
  background-size: cover;
  box-shadow: 1px 1px 105px blue;
  box-shadow: 1px 1px 85px blueviolet;
  border-radius: 50%;
  animation: translateBackground 120s infinite linear;
  background: url('./starTextures/blue-star.jpg') repeat-x;
  background-size: 200% 100%;
  width: 2em;
  height: 2em;
}
.White-Dwarf {
  transform: translate(-50%, -50%);
  background-size: cover;
  box-shadow: 1px 1px 55px white;
  box-shadow: 1px 1px 25px whitesmoke;
  border-radius: 50%;
  animation: translateBackground 120s infinite linear;
  background: url('./starTextures/white-star.jpg') repeat-x;
  background-size: 200% 100%;
}

.Brown-Dwarf {
  transform: translate(-50%, -50%);
  background-size: cover;
  box-shadow: 1px 1px 55px brown;
  box-shadow: 1px 1px 35px goldenrod;
  border-radius: 50%;
  animation: translateBackground 120s infinite linear;
  background: url('./starTextures/brown-star.jpg') repeat-x;
  background-size: 200% 100%;
}
.Red-Giant {
  transform: translate(-50%, -50%);
  background-size: cover;
  box-shadow: 1px 1px 105px firebrick;
  box-shadow: 1px 1px 85px firebrick;
  border-radius: 50%;
  animation: translateBackground 120s infinite linear;
  background: url('./starTextures/red-star.jpeg') repeat-x;
  background-size: 200% 100%;
  height: 2em;
  width: 2em;
}
.Red-Supergiant {
  transform: translate(-50%, -50%);
  background-size: cover;
  box-shadow: 3px 3px 125px firebrick;
  box-shadow: 1px 1px 85px red;
  border-radius: 50%;
  animation: translateBackground 120s infinite linear;
  background: url('./starTextures/red-star.jpeg') repeat-x;
  background-size: 200% 100%;
  height: 3em;
  width: 3em;
}
.Red-Dwarf {
  transform: translate(-50%, -50%);
  background-size: cover;
  box-shadow: 1px 1px 25px firebrick;
  box-shadow: 1px 1px 20px red;
  border-radius: 50%;
  animation: translateBackground 120s infinite linear;
  background: url('./starTextures/red-star.jpeg') repeat-x;
  background-size: 200% 100%;
}
.Yellow-Dwarf-system-view {
  box-shadow: 1px 1px 45px gold;
  box-shadow: 1px 1px 35px goldenrod;
  border-radius: 50%;
  animation: translateBackground 120s infinite linear;
  background: url('./starTextures/yellow-star.png') repeat-x;
  background-size: 200% 100%;
}
.Blue-Giant-system-view {
  transform: translate(-50%, -50%);
  background-size: cover;
  box-shadow: 1px 1px 105px blue;
  box-shadow: 1px 1px 85px blueviolet;
  border-radius: 50%;
  animation: translateBackground 120s infinite linear;
  background: url('./starTextures/blue-star.jpg') repeat-x;
  background-size: 200% 100%;
  width: 45em;
  height: 45em;
}
.White-Dwarf-system-view {
  transform: translate(-50%, -50%);
  background-size: cover;
  box-shadow: 1px 1px 55px white;
  box-shadow: 1px 1px 25px whitesmoke;
  border-radius: 50%;
  animation: translateBackground 120s infinite linear;
  background: url('./starTextures/white-star.jpg') repeat-x;
  background-size: 200% 100%;
}

.Brown-Dwarf-system-view {
  transform: translate(-50%, -50%);
  background-size: cover;
  box-shadow: 1px 1px 55px brown;
  box-shadow: 1px 1px 35px goldenrod;
  border-radius: 50%;
  animation: translateBackground 120s infinite linear;
  background: url('./starTextures/brown-star.jpg') repeat-x;
  background-size: 200% 100%;
}
.Red-Giant-system-view {
  transform: translate(-50%, -50%);
  background-size: cover;
  box-shadow: 1px 1px 105px firebrick;
  box-shadow: 1px 1px 85px firebrick;
  border-radius: 50%;
  animation: translateBackground 120s infinite linear;
  background: url('./starTextures/red-star.jpeg') repeat-x;
  background-size: 200% 100%;
  height: 2em;
  width: 2em;
}
.Red-Supergiant-system-view {
  transform: translate(-50%, -50%);
  background-size: cover;
  box-shadow: 3px 3px 125px firebrick;
  box-shadow: 1px 1px 85px red;
  border-radius: 50%;
  animation: translateBackground 120s infinite linear;
  background: url('./starTextures/red-star.jpeg') repeat-x;
  background-size: 200% 100%;
  height: 3em;
  width: 3em;
}
.Red-Dwarf-system-view {
  transform: translate(-50%, -50%);
  background-size: cover;
  box-shadow: 1px 1px 25px firebrick;
  box-shadow: 1px 1px 20px red;
  border-radius: 50%;
  animation: translateBackground 120s infinite linear;
  background: url('./starTextures/red-star.jpeg') repeat-x;
  background-size: 200% 100%;
}
@keyframes translateBackground {
  0% {
    background-position-x: 0;
  }
  100% {
    background-position-x: -600px;
  }
}
/* end star css*/
/* planets css */
.system-planet {
  border-radius: 50%;
  margin:0 auto;
  box-shadow: inset 10px 0px 12px -2px rgba(255,255,255,.2), 
  inset -70px 0px 45px 0px black,
  -5px 0px 5px -4px black;
}
/* Lava1-5 will be using different textures/rotation times to create variation */
.Lava1 {
  width: 250px;
  height: 250px;
  background: url('./planettextures/lava/lava1.jpg') repeat-x;
  animation: translateBackground 45s infinite linear;
  background-size: 100% 100%;
  
}
.Lava2 {
  width: 250px;
  height: 250px;
  background: url('./planettextures/lava/lava1.jpg') repeat-x;
  animation: translateBackground 45s infinite linear;
  background-size: 100% 100%;
  
}
.Lava3 {
  width: 150px;
  height: 150px;
  background: url('./planettextures/lava/lava2.png') repeat-x;
  animation: translateBackground 35s infinite linear;
  background-size: 100% 100%;
  
}
.Lava4 {
  width: 250px;
  height: 250px;
  background: url('./planettextures/lava/lava2.png') repeat-x;
  animation: translateBackground 45s infinite linear;
  background-size: 100% 100%;
  
}
.Lava5 {
  width: 250px;
  height: 250px;
  background: url('./planettextures/lava/lava1.jpg') repeat-x;
  animation: translateBackground 45s infinite linear;
  background-size: 100% 100%;
  
}
.Desert1 {
  width: 250px;
  height: 250px;
  background: url('./planettextures/desert/desert.jpg') repeat-x;
  animation: translateBackground 45s infinite linear;
  background-size: 100% 100%;
  
}
.Desert2 {
  width: 250px;
  height: 250px;
  background: url('./planettextures/desert/desert2.png') repeat-x;
  animation: translateBackground 45s infinite linear;
  background-size: 100% 100%;
  
}
.Desert3 {
  width: 200px;
  height: 200px;
  background: url('./planettextures/desert/desert3.png') repeat-x;
  animation: translateBackground 45s infinite linear;
  background-size: 100% 100%;
  
}
.Desert4 {
  width: 250px;
  height: 250px;
  background: url('./planettextures/desert/desert4.png') repeat-x;
  animation: translateBackground 45s infinite linear;
  background-size: 100% 100%;
  
}
.Desert5 {
  width: 150px;
  height: 150px;
  background: url('./planettextures/desert/desert.jpg') repeat-x;
  animation: translateBackground 45s infinite linear;
  background-size: 100% 100%;
  
}
.Frozen1 {
  width: 250px;
  height: 250px;
  background: url('./planettextures/frozen/frozen1.png') repeat-x;
  animation: translateBackground 75s infinite linear;
  background-size: 100% 100%;
  
}
.Frozen2 {
  width: 250px;
  height: 250px;
  background: url('./planettextures/frozen/frozen2.png') repeat-x;
  animation: translateBackground 75s infinite linear;
  background-size: 100% 100%;
  
}
.Frozen3 {
  width: 250px;
  height: 250px;
  background: url('./planettextures/frozen/frozen3.png') repeat-x;
  animation: translateBackground 75s infinite linear;
  background-size: 100% 100%;
  
}
.Frozen4 {
  width: 250px;
  height: 250px;
  background: url('./planettextures/frozen/frozen2.png') repeat-x;
  animation: translateBackground 75s infinite linear;
  background-size: 100% 100%;
  
}
.Frozen5 {
  width: 250px;
  height: 250px;
  background: url('./planettextures/frozen/frozen3.png') repeat-x;
  animation: translateBackground 75s infinite linear;
  background-size: 100% 100%;
  
}
.Gas1 {
  width: 250px;
  height: 250px;
  background: url('./planettextures/gas/gas1.png') repeat-x;
  animation: translateBackground 165s infinite linear;
  background-size: 100% 100%;
  
}
.Gas2 {
  width: 250px;
  height: 250px;
  background: url('./planettextures/gas/gas2.png') repeat-x;
  animation: translateBackground 165s infinite linear;
  background-size: 100% 100%;
  
}
.Gas3 {
  width: 250px;
  height: 250px;
  background: url('./planettextures/gas/gas3.png') repeat-x;
  animation: translateBackground 165s infinite linear;
  background-size: 100% 100%;
  
}
.Gas4 {
  width: 250px;
  height: 250px;
  background: url('./planettextures/gas/gas4.png') repeat-x;
  animation: translateBackground 165s infinite linear;
  background-size: 100% 100%;
  
}
.Gas5 {
  width: 250px;
  height: 250px;
  background: url('./planettextures/gas/gas5.png') repeat-x;
  animation: translateBackground 165s infinite linear;
  background-size: 100% 100%;
  
}
.Ocean1 {
  width: 250px;
  height: 250px;
  background: url('./planettextures/ocean/ocean.jpg') repeat-x;
  animation: translateBackground 45s infinite linear;
  background-size: 100% 100%;
  
}
.Ocean2 {
  width: 250px;
  height: 250px;
  background: url('./planettextures/ocean/ocean2.png') repeat-x;
  animation: translateBackground 45s infinite linear;
  background-size: 100% 100%;
  
}
.Ocean3 {
  width: 250px;
  height: 250px;
  background: url('./planettextures/ocean/ocean.jpg') repeat-x;
  animation: translateBackground 45s infinite linear;
  background-size: 100% 100%;
  
}
.Ocean4 {
  width: 250px;
  height: 250px;
  background: url('./planettextures/ocean/ocean2.png') repeat-x;
  animation: translateBackground 45s infinite linear;
  background-size: 100% 100%;
  
}
.Ocean5 {
  width: 250px;
  height: 250px;
  background: url('./planettextures/ocean/ocean2.png') repeat-x;
  animation: translateBackground 45s infinite linear;
  background-size: 100% 100%;
  
}
.Rocky1 {
  width: 250px;
  height: 250px;
  background: url('./planettextures/rocky/rocky1.jpg') repeat-x;
  animation: translateBackground 110s infinite linear;
  background-size: 100% 100%;
  
}
.Rocky2 {
  width: 250px;
  height: 250px;
  background: url('./planettextures/rocky/rocky2.png') repeat-x;
  animation: translateBackground 110s infinite linear;
  background-size: 100% 100%;
  
}
.Rocky3 {
  width: 250px;
  height: 250px;
  background: url('./planettextures/rocky/rocky3.jpg') repeat-x;
  animation: translateBackground 110s infinite linear;
  background-size: 100% 100%;
  
}
.Rocky4 {
  width: 250px;
  height: 250px;
  background: url('./planettextures/rocky/rocky3.jpg') repeat-x;
  animation: translateBackground 110s infinite linear;
  background-size: 100% 100%;
  
}
.Rocky5 {
  width: 250px;
  height: 250px;
  background: url('./planettextures/rocky/rocky3.jpg') repeat-x;
  animation: translateBackground 110s infinite linear;
  background-size: 100% 100%;
  
}
.Temperate1 {
  width: 250px;
  height: 250px;
  background: url('./planettextures/temperate/temperate1.png') repeat-x;
  animation: translateBackground 85s infinite linear;
  background-size: 120% 100%;
  
}
.Temperate2 {
  width: 250px;
  height: 250px;
  background: url('./planettextures/temperate/temperate2.png') repeat-x;
  animation: translateBackground 85s infinite linear;
  background-size: 120% 100%;
  
}
.Temperate3 {
  width: 250px;
  height: 250px;
  background: url('./planettextures/temperate/temperate3.png') repeat-x;
  animation: translateBackground 85s infinite linear;
  background-size: 120% 100%;
  
}
.Temperate4 {
  width: 250px;
  height: 250px;
  background: url('./planettextures/temperate/temperate4.png') repeat-x;
  animation: translateBackground 85s infinite linear;
  background-size: 120% 100%;
  
}
.Temperate5 {
  width: 250px;
  height: 250px;
  background: url('./planettextures/temperate/temperate5.png') repeat-x;
  animation: translateBackground 85s infinite linear;
  background-size: 120% 100%;
  
}
.Greenhouse1 {
  width: 250px;
  height: 250px;
  background: url('./planettextures/greenhouse/greenhouse.png') repeat-x;
  animation: translateBackground 85s infinite linear;
  background-size: 120% 100%;
  
}
.Greenhouse2 {
  width: 250px;
  height: 250px;
  background: url('./planettextures/greenhouse/greenhouse.png') repeat-x;
  animation: translateBackground 85s infinite linear;
  background-size: 120% 100%;
  
}
.Greenhouse3 {
  width: 250px;
  height: 250px;
  background: url('./planettextures/greenhouse/greenhouse2.png') repeat-x;
  animation: translateBackground 85s infinite linear;
  background-size: 120% 100%;
  
}
.Greenhouse4 {
  width: 250px;
  height: 250px;
  background: url('./planettextures/greenhouse/greenhouse2.png') repeat-x;
  animation: translateBackground 85s infinite linear;
  background-size: 120% 100%;
  
}
.Greenhouse5 {
  width: 250px;
  height: 250px;
  background: url('./planettextures/greenhouse/greenhouse.png') repeat-x;
  animation: translateBackground 85s infinite linear;
  background-size: 120% 100%;
  
}
.Greenhouse1 {
  width: 250px;
  height: 250px;
  background: url('./planettextures/greenhouse/greenhouse2.png') repeat-x;
  animation: translateBackground 85s infinite linear;
  background-size: 120% 100%;
  
}
.Asteroid-Belt1 {
  height: 250px;
  width:  250px;
  background: url('./planettextures/asteroid.png');
  background-size: 100% 100%;
}
.Asteroid-Belt2 {
  height:  250px;
  width:  250px;
  background: url('./planettextures/asteroid.png');
  background-size: 100% 100%;
}
.Asteroid-Belt3 {
  height:  250px;
  width:  250px;
  background: url('./planettextures/asteroid.png');
  background-size: 100% 100%;
}
/* end planets css*/
