/* mini stars on the home page */
.sector-view-wrapper {
  display: flex;
}
.sector-star-wrapper {
  margin: 3rem;
  flex: 1 0 auto;
}
.sector-view-star-name {
  color: white;
  text-decoration: none;
  padding-top:2rem;
}
.Yellow-Dwarf {
    box-shadow: 1px 1px 45px gold;
    box-shadow: 1px 1px 35px goldenrod;
    background-color: red;
    --radius: 7rem;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    animation: translateBackground 120s infinite linear;
    background: url('./textures/starTextures/yellow-star.png') repeat-x;
    background-size: 200% 100%;
    transition: transform 0.7s linear;
}
.Blue-Giant {
    transform: translate(-50%, -50%);
    background-size: cover;
    box-shadow: 1px 1px 105px blue; 
    box-shadow: 1px 1px 85px blueviolet; 

 width: 70px;
 height: 70px;
      border-radius: 50%;
      animation: translateBackground 120s infinite linear;  
    background:url('./textures/starTextures/blue-star.jpg') repeat-x;
    background-size: 200% 100%;
   z-index: 95;
      transition: transform 0.7s linear;
}
.White-Dwarf {
    transform: translate(-50%, -50%);
    background-size: cover;
    box-shadow: 1px 1px 55px white; 
    box-shadow: 1px 1px 25px whitesmoke; 
   width: 30px;
   height: 30px;
      border-radius: 50%;
      animation: translateBackground 120s infinite linear;  
    background:url('./textures/starTextures/white-star.jpg') repeat-x;
    background-size: 200% 100%;
   z-index: 95;
      transition: transform 0.7s linear;
}

.Brown-Dwarf {
    transform: translate(-50%, -50%);
    background-size: cover;
    box-shadow: 1px 1px 55px brown; 
    box-shadow: 1px 1px 35px goldenrod; 
   width: 30px;
   height: 30px;
      border-radius: 50%;
      animation: translateBackground 120s infinite linear;  
    background:url('./textures/starTextures/brown-star.jpg') repeat-x;
    background-size: 200% 100%;
   z-index: 95;
      transition: transform 0.7s linear;
}
.Red-Giant {
    transform: translate(-50%, -50%);
    background-size: cover;
    box-shadow: 1px 1px 105px firebrick; 
    box-shadow: 1px 1px 85px firebrick; 
   width: 65px;
   height: 65px;
      border-radius: 50%;
      animation: translateBackground 120s infinite linear;  
    background:url('./textures/starTextures/red-star.jpeg') repeat-x;
    background-size: 200% 100%;
   z-index: 95;
      transition: transform 0.7s linear;
}
.Red-Supergiant {
    transform: translate(-50%, -50%);
    background-size: cover;
    box-shadow: 3px 3px 125px firebrick; 
    box-shadow: 1px 1px 85px red; 
   width: 90px;
   height: 90px;
      border-radius: 50%;
      animation: translateBackground 120s infinite linear;  
    background:url('./textures/starTextures/red-star.jpeg') repeat-x;
    background-size: 200% 100%;
   z-index: 95;
      transition: transform 0.7s linear;
}
.Red-Dwarf {
    width: 25px;
    height: 25px;
    transform: translate(-50%, -50%);
    background-size: cover;
    box-shadow: 1px 1px 25px firebrick; 
    box-shadow: 1px 1px 20px red; 
      border-radius: 50%;
      animation: translateBackground 120s infinite linear;  
    background:url('./textures/starTextures/red-star.jpeg') repeat-x;
    background-size: 200% 100%;
   z-index: 95;
      transition: transform 0.7s linear;
}
@keyframes translateBackground{
    0%{
      background-position-x:0;
    }
    100%{
      background-position-x:-600px;
    }
  }
/* end star css*/