@tailwind base;
@tailwind components;
@tailwind utilities;
/* IGNORE THE WARNING FOR TAILWIND, it is working just fine */
body {
  color: white;
}

.hidden {
  display: none;
}

.background-class {
  background-color: black;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
/* remove scrollbar */
body::-webkit-scrollbar {
  display: none;
}
/* Thank you Princess.com */
.img-responsive, .img-responsive-wrapper img, .img-responsive-wrapper picture {
  display: block;
  height: auto;
  margin: 0 auto;
  max-width: 100%;
}
.non-game-page {
  z-index: 100;
  position: absolute;
  height: 100vh;
  width: 100vw;
  color: white;
  background-color: black;
  border: 1px solid red;
}