@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  color: white;
}

.hidden {
  display: none;
}

.background-class {
  background-color: black;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  overflow: hidden;
}
/* remove scrollbar */
body::-webkit-scrollbar {
  display: none;
}
/* Thank you Princess.com */
.img-responsive, .img-responsive-wrapper img, .img-responsive-wrapper picture {
  display: block;
  height: auto;
  margin: 0 auto;
  max-width: 100%;
}
