body {
  color: white;
  text-decoration: none;
}

Link:visited {
  color: white;
}

.ui-main-link {
  color: white;
  text-align: center;
  font-style: italic;
}

.menu {
  z-index: 20;
}

.menu nav {
  display: block;
  width: 90%;
  height: 50px;
  margin: 0 auto;
  border: 1px solid red;
  background: rgba(0, 255, 255, 0.1);
  border-radius: 4px;
  z-index: 20;
  transition: all 0.3s;
}

.menu nav:hover {
  box-shadow: inset 0 0 20px red;
}

.menu nav ul {
  list-style: none;
  margin: 0 auto;
  padding: 0;
  width: 80%;
  height: 50px;
  text-align: center;
  position: relative;
}

.menu nav ul li {
  display: inline-block;
  width: 100px;
  height: 50px;
  line-height: 3;
  position: relative;
}

.menu nav ul li a {
  text-decoration: none;
  color: rgba(0, 255, 255, 0.5);
  font-family: verdana, sans-serif;
  display: block;
}

.menu nav ul li:hover>a {
  color: white;
  background: rgba(0, 255, 255, 0.1);
}

.menu nav ul li:hover .sub1,
.menu .sub1 li:hover .sub2 {
  display: block;
}

.menu .sub1 {
  position: absolute;
  top: 50px;
  z-index: 500;
  width: 100px;
  display: none;
}

.menu .sub1>li,
.menu .sub2>li {
  background: rgba(0, 255, 255, 0.1);
}

.menu .sub1 li:hover>a,
.menu .sub2 li:hover>a {
  box-shadow: inset 0 0 5px aqua;
  background: rgba(0, 0, 0, 0.9);
}

.menu .sub2 {
  position: absolute;
  top: 0;
  left: 100px;
  z-index: 500;
  width: 100px;
  display: none;
}

.menu .sub2>li {
  background: rgba(0, 255, 255, 0.1);
}

/* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  background-color: grey;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  border: 2px solid rgba(0, 255, 255, 0.5);

  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 100;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}

.outline-system {
  outline: 4px solid rgba(0, 255, 255, 0.5);
}

.oneline {
  white-space: nowrap;
  width: 100%;
}

/* icons  */
.energy {
  width: 50px;
  height: 50px;
  background-image: url('./icons/energy.png');
  background-size: 100% 100%;
}

.fuel {
  width: 50px;
  height: 50px;
  background-image: url('./icons/fuel.png');
  background-size: 100% 100%;
}

.water {
  width: 50px;
  height: 50px;
  background-image: url('./icons/water.png');
  background-size: 100% 100%;
}

/* navigation bar */
.navigation-bar {
  position: fixed;
  bottom: 0;
  z-index: 99;
  display: flex;
  flex-direction: row;
  width: 100vw;
}

.navigation-bar-section {
  padding: 0.5rem;
  width: 33vw;
}

.navigation-bar-section-inactive {
  padding: 0.5rem;
  width: 33vw;
}

.navigation-bar-text {
  color: white;
  text-decoration: none;
  text-align: center;
}
<<<<<<< HEAD
/* top bar */
.top-bar-wrapper {
  border: 1px solid red;
=======

.navigation-bar-text:hover {
  text-decoration: none;
  color: white;
}

/* system bottom bar menu */
.system-bottom-bar {
  border: 1px solid lightblue;
  text-align: center;
  width: 50%;
  margin: auto;
  position: fixed;
  bottom: 0;
  margin-bottom: 10vh;
  left: 25%;
}

.bottom-bar-section {
  align-self: center;
}

/* system side bar */
.side-bar-wrapper {
  position: fixed;
  right: 0;
}
.toggle-side-bar {
  background-color: brown;
  width: 50px;
  height: 50px;
}
.side-bar {
  background-color: darkblue;
  border: 2px solid lightblue;
  width: 300px;
  color: white;
}

.side-tab-row {
  display: flex;
  flex-direction: row;
  border: 1px solid yellow;
}

.side-tab {
  padding: .5rem;
  text-align: center;
}

.side-screen {
  height: 50vh;
  text-align: center;
}

.system-title {
  text-align: center;
  position: fixed;

>>>>>>> main
}