/* color pallete */
$border: #008bd6;
$main: #d17a00;
$text: #FFF;
/* base UI style  */
.ui-border-box {
  color: $text;
  border: none;
  background-color: transparent;
  background-image: url("https://i.imgur.com/c4cssIq.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100% 100%;
  mask-image: url("https://i.imgur.com/MpgqLcj.png");
  mask-type: alpha;
  mask-repeat: no-repeat;
  mask-position: center center;
  mask-size: 90% 80%;
  font-family: verdana, sans-serif;
  padding: 10px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  border-radius: 0;
  outline: none;
  cursor: pointer;
  position: relative;
  transition: all 0.3s;
}

/* Tooltip container for showing star distance to each other*/
.tooltip {
  position: relative;
  display: inline-block;
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  background-color: grey;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  border: 2px solid rgba(0, 255, 255, 0.5);

  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 100;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}

.outline-system {
  outline: 4px solid rgba(0, 255, 255, 0.5);
}

.oneline {
  $text-space: nowrap;
  width: 100%;
}

/* icons  */
.energy {
  width: 50px;
  height: 50px;
  background-image: url('./icons/energy.png');
  background-size: 100% 100%;
}

.fuel {
  width: 50px;
  height: 50px;
  background-image: url('./icons/fuel.png');
  background-size: 100% 100%;
}

.water {
  width: 50px;
  height: 50px;
  background-image: url('./icons/water.png');
  background-size: 100% 100%;
}

/* navigation bar */
.navigation-bar {
  bottom: 0;
  z-index: 90;
  cursor: pointer;
  position: fixed;
  display: flex;
  flex-direction: row;
}

.navigation-bar-section {
  padding: 0.5rem;
  width: 33vw;
}

.navigation-bar-section-inactive {
  padding: 0.5rem;
  width: 33vw;
}

.navigation-bar-text {
  text-decoration: none;
  text-align: center;
  color: aqua;
  font-size: 1rem;
}

.navigation-bar-section:hover {
  color: green;
}

/* top bar */
.sci-fi-thing {
  width: 100%;
  height: 50px;
  background-image: url("https://i.imgur.com/9EfnzaH.png");
  background-repeat: no-repeat;
  background-position: center 0px;
}

.top-bar-wrapper {
  top: 0;
  position: fixed;
  display: flex;
  width: 100vw;
  justify-content: center;
  height: 50px;
}

.navigation-bar-text:hover {
  text-decoration: none;
  color: $text;
}

.top-nav-button-base {
  display: inline-block;
}

.top-nav-1 {
  color: $text;
  border: none;
  background-color: transparent;
  background-image: url("https://i.imgur.com/c4cssIq.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100% 100%;
  mask-image: url("https://i.imgur.com/MpgqLcj.png");
  mask-type: alpha;
  mask-repeat: no-repeat;
  mask-position: center center;
  mask-size: 90% 80%;
  font-family: verdana, sans-serif;
  font-size: 1.5em;
  padding: 1rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  border-radius: 0;
  outline: none;
  cursor: pointer;
  position: relative;
  transition: all 0.3s;
  margin-right: 1em;
}

.top-nav-1:after {
  background-image: url("https://i.imgur.com/esC8ptq.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 90% 80%;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.top-nav-1:hover,
.top-nav-1:active {
  color: $text;
}

.top-nav-1:hover:after,
.top-nav-1:active:after {
  opacity: 1;
}

/* system Power bar menu */
.system-power-bar-wrapper {
  width: 300px;
  position: absolute;
  left: 0;
  padding: 1rem;
  padding-top: 0;
}

.system-power-bar {
  color: aqua;
  position: absolute;
  width: 300px;
  border-radius: 8px;
  box-shadow: inset 0px 0px 45px 10px rgba(255, 255, 255, 0.4);
  border: aqua 1px solid;
  color: $text;
  padding: .5rem;
}

/* redo this */
.system-power-toggle-button {
  
  color: aqua;
  border: none;
  background-color: transparent;
  background-image: url("https://i.imgur.com/c4cssIq.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100% 100%;
  mask-image: url("https://i.imgur.com/MpgqLcj.png");
  mask-type: alpha;
  mask-repeat: no-repeat;
  mask-position: center center;
  mask-size: 90% 80%;
  font-family: verdana, sans-serif;
  font-size: 1em;
  padding: 1rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  border-radius: 0;
  outline: none;
  cursor: pointer;
  position: relative;
  transition: all 0.3s;
}


.power-bar-section {
  align-self: center;
}

/* system side bar */
.side-bar-wrapper {
  position: fixed;
  right: 0;
  padding: 1rem;
}

.toggle-side-bar {
  z-index: 99;
  width: 100px;
  cursor: pointer;
  display: flex;
  justify-self: center;
}

.toggle-side-bar:hover {
  color: $text;
}

.side-bar-wrapper {
  border-radius: 25%;
}

.side-bar {
  width: 300px;
  border-radius: 8px;
  box-shadow: inset 0px 0px 45px 10px rgba(255, 255, 255, 0.4);
  border: aqua 2px solid;
  color: $text;
}

.side-bar-background {
  position: absolute;
  z-index: -99;
  height: 120%;
  opacity: 50%;
  width: 300px;
  background-color: black;
}

.side-tab-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.side-tab-info {
  padding: .5rem;
}

.side-tab {
  padding: .5rem;
  text-align: center;
  color: aqua;
  border: none;
  background-color: transparent;
  background-image: url("https://i.imgur.com/c4cssIq.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100% 100%;
  mask-image: url("https://i.imgur.com/MpgqLcj.png");
  mask-type: alpha;
  mask-repeat: no-repeat;
  mask-position: center center;
  mask-size: 90% 80%;
  font-family: verdana, sans-serif;
  font-size: .7em;
  padding: .7rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  border-radius: 0;
  outline: none;
  cursor: pointer;
  position: relative;
  transition: all 0.3s;
  margin-right: 1em;
  cursor: pointer;
}

.side-screen {
  max-height: 40vh;
  text-align: center;
}

.system-title {
  text-align: center;
  position: fixed;

}

/* End of system-view menu */
/* Details menu stuff */
.go-back {
  bottom: 0;
  padding: 1rem;
  position: fixed;
  border: 1px solid $border;
  margin-bottom: 4rem;
}
.go-back:hover {
  cursor: pointer;
}

.details-menu-wrapper {
  height: 100vh;
  width: 100vw;
  top: 0;
  z-index: 91;
  position: absolute;
  background-color: darkslategrey;
}

.details-bar-wrapper {
  top: 0;
  position: fixed;
  display: flex;
  width: 100vw;
  justify-content: center;
  height: 50px;
}

.navigation-bar-text:hover {
  text-decoration: none;
  color: $text;
}

.details-nav-button-base {
  display: inline-block;
}

.details-nav-1 {
  color: $text;
  border: none;
  background-color: transparent;
  background-image: url("https://i.imgur.com/c4cssIq.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100% 100%;
  mask-image: url("https://i.imgur.com/MpgqLcj.png");
  mask-type: alpha;
  mask-repeat: no-repeat;
  mask-position: center center;
  mask-size: 90% 80%;
  font-family: verdana, sans-serif;
  font-size: 1em;
  padding: .8rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  border-radius: 0;
  outline: none;
  cursor: pointer;
  position: relative;
  transition: all 0.3s;
  margin-right: 1em;
}

.details-nav-1:hover {
  background-image: url("https://i.imgur.com/esC8ptq.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 90% 80%;
  width: 100%;
  height: 100%;
}

/* End details menus */
/* pop-up-menus */
.pop-up-menu {
  position: absolute;
  border: 1px solid red;
}