.navigation {
    
    border:  2px solid lightblue; 
    z-index: 99;
    bottom: 0;
    position: fixed;
    background-color: aqua;
    color: black;
}
.grid-item {
    bottom: 0;
padding:10px;
text-align: center;
}
a {
    text-decoration: none;
    
}