.resource-menu {
    color: red;
    background-color: darkslategray;
    border: 2px solid green;
    width: 50%;
    display: flex;
    align-items: stretch;
}
.resource-menu-title {
    color: white;
}
.first-line {
    text-align: center;
    padding: 2vw;
}
.second-line {
    text-align: center;
    padding: 2vw;
}
.third-line {
    text-align: center;
    padding: 2vw;
}